*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:20vh;

  font-family:Poppins, sans-serif;
  padding:10px;
}
a{
  text-decoration:none;
  color:black;
}
ul{
  list-style:none;
}
:root{
  --btn-color:#1c7ed6;
}