:root{
  --background-color:#faf9ff;
  --font-weight-700:700;
  --orange-color:#ff6b00;
  --dark-orange:#a04100;
  --dark-purple-color:#34466d;
  --light-purple-color:#4c5e86;
  --dark-blue-color:#041a3f;
  --super-light-blue-color:#f1f3ff;
  --text-light-grey:var(--text-light-grey);
  --footer-sm-text-light:rgba(255, 255, 255, 0.5);
}
*{
  font-family: 'Plus Jakarta Sans', sans-serif;
}
body{
  background-color: var(--background-color);
}
/*Navigation Bar*/
.navbar{
  box-shadow:0px 2px 5px rgba(0,0,0,0.1);
}
.navbar-brand{
  font-weight: 600;
  font-size:1.3rem !important;
}
.nav-link{
  font-size:0.9rem !important;
  font-weight:600 !important;
  color:var(--text-light-grey) !important; 
}
.nav-join-btn{
  display:flex;
  justify-content: center;
  text-decoration: none;
  background-color:var(--orange-color);
  color:white;
  font-weight: var(--font-weight-700);
}
/*hero section*/
.hero-container{
  padding-top:130px;
}
.hero-badge{
  display:flex;
  align-items: center;
  gap:7px;
  font-weight:var(--font-weight-700);
  font-size:0.8rem;
  letter-spacing: 2px;
  color:var(--dark-purple-color);
  background-color: #d9e2ff;
  width:fit-content;
}
.hero-badge-icon{
  font-size:0.9rem !important;
}
.hero-title{
  color:var(--dark-blue-color);
  font-size:3.5rem;
  font-weight:800;
}
.hero-writer-img{
  width:50px;
  height:50px;
  border-radius: 50%;
}
.hero-writer-name{
  color:var(--dark-blue-color);
  font-weight:var(--font-weight-700);
}
.hero-writer-credential{
  color:var(--text-light-grey);
  font-size:0.9rem;
  font-weight:500;
}
.hero-img{
  width:100%;
  height:auto;
}

/*main-nav*/
.main-nav{
  background-color:var(--super-light-blue-color);
  height:fit-content;
  position:sticky;
  top:100px;
}
@media (max-width:991.98px){
  .main-nav{
    display:none;
  }
}
.main-nav-element a{
  color:var(--light-purple-color) !important;
  font-size:0.9rem;
  
}
.main-nav-element{
  border-left:2px solid #dee2e6;;
  padding-left:10px;
}
.main-article-title{
  color:var(--dark-blue-color);
  font-weight:800;
}
.main-article{
  color:var(--light-purple-color);
  font-size:1.3rem;
  line-height: 2.5rem;
}
.main-table{
  width:100%;
  background-color: white !important;
  border-radius: 15px !important;
  overflow: hidden !important;
  box-shadow:0px 0px 20px rgba(0,0,0,0.05);
  margin-bottom: 30px !important;
}
.main-table td, .main-table th{
  background-color: white !important;
  padding: 20px !important;
}
.table-blue{
  color:var(--dark-blue-color) !important;
  font-weight:var(--font-weight-700);
}
.table-sm-text{
  font-size:0.8rem;
}
.main-cfa{
  background-color: var(--orange-color);
}
.main-cfa-title{
  color:white;
  font-weight:var(--font-weight-700);
  font-size:2rem;
}
.main-cfa-btn{
  color:var(--dark-orange);
  font-weight:600;
  background-color: white;
  border:none;
  width:75%;
}
@media (max-width:767.98px){
  .main-cfa-btn{
    width:100%;
  }
}
.main-curriculum-title{
  color:var(--dark-blue-color);
  font-weight: var(--font-weight-700);
  font-size:1.4rem;
}
.main-curriculum-subtitle{
  color:var(--light-purple-color);
  line-height: 2rem;
}
.main-curriculum-grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:20px;
}
.main-curriculum-grid div{
  background-color:var(--super-light-blue-color);
  color:var(--dark-blue-color);
}
.main-curriculum-grid span{
  color:var(--dark-orange);
}
.main-share{
  color:var(--text-light-grey);
  font-weight: var(--font-weight-700);
  font-size:0.8rem;
  display:flex;
  align-items: center;
  gap:10px;
}
.main-share  span{
  color:var(--dark-orange);
  font-size:1rem;
  background-color:var(--super-light-blue-color);
  padding:15px;
  border-radius: 50%;
}
/*top bca colleges div*/
.input-group{
  overflow: hidden;
}
.input-group-text{
  border:none !important;
  color:var(--light-purple-color) !important;
}
.form-control{
  border:none !important;
  color:var(--text-light-grey) !important;
  margin-left:-15px !important;
}
.form-control, .input-group-text{
  background-color:var(--super-light-blue-color) !important;
}
.bca-colleges-title{
  color:var(--dark-blue-color);
  font-size:1.2rem;
  font-weight:var(--font-weight-700);
}
.bca-colleges-all-link{
  color:var(--dark-orange);
  text-decoration: none;
  font-weight: var(--font-weight-700);
  font-size:0.8rem;
}
.bca-colleges-img{
  width:70px;
  height:70px;
}
.bca-colleges-name{
  color:var(--dark-purple-color);
  font-weight:var(--font-weight-700);
  font-size:0.9rem;
  text-decoration: none;
}
.bca-colleges-name:hover{
  color:var(--dark-orange);
}
.bca-colleges-location{
  color:var(--text-light-grey);
  font-size:0.8rem;
}
.bca-colleges-cfa{
  overflow:hidden;
  position:relative;
  background-color:rgba(37, 211, 102, 0.1);
  border:1px solid rgba(37, 211, 102, 0.2);
}
.bca-colleges-cfa-title{
  font-weight:var(--font-weight-700);
  font-size:1.2rem;
  color:var(--dark-blue-color);
}
.bca-colleges-cfa-subtitle{
  color:var(--text-light-grey);
  font-size:0.8rem;
}
.bca-colleges-whatsapp-btn{
  background-color:#25D366;
  color:white;
  border:none;
  font-weight:var(--font-weight-700);
}
.bca-colleges-cfa-icon-bg{
  position:absolute;
  right:-10px;
  bottom:-20px;
  opacity:0.3;
  z-index:-1;
}
/* career blog cfa div*/
.career-blog-cfa-title{
  color:var(--dark-blue-color);
  font-weight:var(--font-weight-700);
  font-size:2rem;
}
.career-blog-cfa-subtitle{
  text-align: center;
  width:70%;
  color:var(--light-purple-color);
  line-height:1.7rem;
}
.career-blog-cfa-btn{
  background-color:var(--dark-orange);
  color:white;
  border:none;
  font-weight:var(--font-weight-700);
  transition: transform 0.2s ease;
}
.career-blog-cfa-btn:hover{
  transform:scale(1.05);
}
/*footer css*/
footer{
  background-color:var(--dark-blue-color);
}
.footer-title-bg{
  color:white;
  font-weight:var(--font-weight-700);
  font-size:1.2rem;
}
.footer-title-sm{
  color:white;
  font-weight: var(--font-weight-700);
  font-size:1rem;
}
.footer-text-sm{
  color:var(--footer-sm-text-light);
  font-size:0.85rem;
  text-decoration: none;
}
.footer-links{
  list-style: none;
  padding-left:0 !important;
}
.footer-links li{
  margin-bottom:10px;
}
.footer-form{
  overflow:hidden;
}
.footer-input{
  background-color: rgb(33, 37, 41);
  border:none;
  outline:none;
  box-shadow: none;
  caret-color: white;
  padding-left:5px;
}
.footer-input-btn{
  display:flex;
  align-items: center;
  justify-content: center;
  border:none;
  background-color:var(--dark-purple-color);
  color:white;
}
.footer-copyright{
  font-size:0.8rem;
}
.footer-mic-icon{
  font-size:0.9rem !important;
}