:root{
  --font-weight-700:700;
  --body-bg-color:#faf9ff;
  --light-blue-color:rgb(76, 94, 134);
  --light-blue-color-rgb:76, 94, 134;
  --dark-blue-color:rgb(4, 26, 63);
  --dark-blue-color-rgb:4, 26, 63;
  --superlight-blue-color:#f1f3ff;
  --dark-orange:#a04100;
  --orange-color:rgb(255, 107, 0);
  --orange-color-rgb:255, 107, 0;
  --orange-color-rgb: 255, 120, 50;
}
body{
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color:var(--body-bg-color);
  padding-top:60px;
}
/* Navigation bar CSS */
.navbar{
  background-color:white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar-brand{
  font-weight:var(--font-weight-700);
  font-size:1.4rem;
}
.nav-link{
  color:var(--light-blue-color);
  font-size:0.9rem;
  font-weight:var(--font-weight-700);
}
.nav-link:hover{
  color:var(--dark-orange);
}
.nav-join-btn{
  background-color:var(--orange-color);
  font-size:1rem;
  padding:10px 20px;
  text-decoration: none;
}
/*main content*/
.main-container{
  margin-top:150px;
  margin-bottom:130px;
}
.page-indicator .navbar-nav{
  flex-direction:row;
  align-items:center;
}
.page-indicator li{
  font-size:0.9rem;
}
.the-arrow{
  font-size:0.8rem;
}
.hero-title{
  font-weight:800;
  color:var(--dark-blue-color);
}
.hero-description{
  color:var(--light-blue-color);
  font-size:1.2rem;
  line-height:2.2rem;
}
.verified-icon-hero{
  color:var(--dark-orange) !important;
}
.hero-badge div{
  color:#6a544b;
  background-color:var(--superlight-blue-color);
}
/*Featured Institutions Section*/
.featured-institutions{
  margin-bottom:30px;
}
.matching-criteria-statement div{
  color:var(--light-blue-color);
}
.featured-institutions-btns span{
  color:var(--dark-orange);
}
.featured-institutions-btns button:hover{
  background-color:var(--superlight-blue-color);
}
.card{
  max-width: 400px;
  transition: transform 0.3s ease;
  border:none;
  border-radius:25px;
}
.card-img-top-div{
  height: 300px;
  overflow:hidden; /*you need a child element to stop the overflow*/
  border-top-right-radius:25px; 
  border-top-left-radius: 25px;
}

.card-img-top{
  transition: transform 0.3s ease;
  width: 100%;
}
.card-title{
  font-weight:var(--font-weight-700);
}
.card-location span{
  font-size:0.9rem;
}
.card-location{
  color:var(--light-blue-color);
  font-size:0.9rem;
}
.label{
  font-size:0.75rem;
  font-weight:500;
  color:var(--light-blue-color);
  background-color:var(--superlight-blue-color);
  padding:3px 10px;
}
.view-details-btn{
  font-weight:600;
  text-decoration: none;
  color:black;
  font-size:0.9rem;
  border:1px solid grey;
}
.view-details-btn:hover{
  background-color:var(--superlight-blue-color);
}
.apply-now-btn{
  color:white;
  background-color:var(--orange-color);
  text-decoration:none;
  font-weight:600;
  text-decoration: none;
  font-size: 0.9rem;
}
.apply-now-btn:hover{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);;
}
.affiliation-badge{
  color:var(--dark-orange);
  font-size:0.75rem;
  font-weight:var(--font-weight-700);
  background-color:antiquewhite;
  position:absolute;
  padding:5px 10px;
  border-radius:25px;
  left:10px;
  top:15px;
}
.card:hover{
  transform:scale(1.02);
}
.card:hover .card-img-top{
  transform: scale(1.05);
}
.map-div{
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:30px;
  overflow:hidden;
}
.nepal-map{
  width:100%;
  height:350px;
}
.map-text{
  position:absolute;
}
.map-btn{
  display:flex;
  justify-content:center;
  gap:5px;
  color:var(--dark-blue-color);
  font-weight:600;
}
/*CTA Section*/
.cta-container{
  background-color:var(--superlight-blue-color);
}
.cta-div {
  background-color: var(--dark-blue-color);
  background-image: radial-gradient(
    circle at 12% 20%,
    rgba(var(--orange-color-rgb), 0.18) 0%,
    transparent 45%
  );
  border-radius: 25px;
}
.cta-col1-p1{
  font-size:50px;
  color:white;
  font-weight:var(--font-weight-700);
}
.cta-col1-p2{
  color:var(--light-blue-color);
  font-size:1.2rem;
}
.counseling-btn{
  background-color: var(--orange-color);
  color:white;
  font-size:1.1rem;
  font-weight: var(--font-weight-700);
  border: none;
}
.counseling-btn.counseling-btn:hover{
  box-shadow: 0 4px 20px rgba(var(--orange-color-rgb), 0.6);
}
.cta-col2{
  background-color:rgba(var(--light-blue-color-rgb),0.3);
  border:1px solid var(--light-blue-color);
  border-radius:10px;
}
.mentor-profile{
  display:flex;
  flex-direction:column;
  gap:20px;
  width:100%;
  max-width:350px;
}
.mentor-profile-pic{
  background-color:#ffe088;
  font-weight:var(--font-weight-700);
  width:50px;
  height:50px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:50px;
}
.mentor-name{
  font-weight:var(--font-weight-700);
  color:white;
  font-size:1.4rem;
}
.mentor-quality{
  font-size:0.9rem;
  color:var(--light-blue-color);
}
.hr-thickner{
  background-color:rgba(var(--light-blue-color-rgb),0.5);
  width:8px;
  height: 8px;
  border-radius:20px;
}
.online-now{
  color:var(--dark-orange);
  font-weight: 600;
  font-size:0.9rem;
}
.online-now-circle{
  width:30px;
  height:30px;
  border-radius:35px;
  border:2px solid white;
  margin-left:-10px;
}
/*footer*/
footer{
  background-color:var(--dark-blue-color);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.footer-row1{
  border-bottom: 1px solid rgba(33,37,41,0.9);
}
.quick-links, .resources-footer{
  gap:20px;
}
.footer-input-field{
  background-color: rgba(33,37,41,0.9); 
  border:none;
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px;
  outline: none;
  box-shadow: none;
  caret-color: white;
  padding:5px;
}
.footer-send-btn{
  background-color:#a04100; 
  border:none; 
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px;
}
